body{
    font-family: 'Roboto','Helvetica','sans serif';
    margin: 0;
    max-width: 100%;
    box-sizing: border-box;
}

.buttons{
    background-color: #3882f6;
    padding: 6px 15px;
    border-radius: 5px;
    text-decoration: none;

}
/* Nav Styling Start */
nav{
    background-color: #1f2937;
    justify-content: space-between;
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
}
.nav-buttons{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.header-logo{
    color: #f9faf8;
    font-size: 24px;
}
.secondary{
    font-size: 18px;
    color: #e5e7eb;
}
/* Nav Styling End */

/* Hero Styling Start */
.hero{
    background-color: #1f2937;
    justify-content: center;
    display: flex;
    padding: 50px;
    width: 100%;
    height: 500px;
    gap: 10vw;
    box-sizing: border-box;
    overflow: hidden;

}
.hero img{
    max-height: 100%;
    max-width: 100%;
    box-sizing: border-box;
}
#HeroText{
    font-size: 48px;
    font-weight:bolder;
    color: #f9faf8;
}
/* Hero Styling End */

/* Image Section Styling Start */
#image-section-title{
    text-align: center;
    font-weight: bolder;
    font-size: 36px;
    color: #1f2937;
}
.image-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    margin: auto;
    gap: 50px;
    text-align: center;
}
.image-section img{
    border: 5px solid #3882f6;
    border-radius: 7px;
    max-height: 100%;
    max-width: 100%;
    box-sizing: border-box;
}
/* Image Section Styling End */

/* Quote Section Styling Start */
.quote{
    background-color: #E5E7EB;
    padding: 30px 30% 30px 30%;
}
.quote-text{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    margin-bottom: 0px;
}
.quote-author{
    font-size: 24px;
    font-weight: bolder;
    color: #1f2937;
    text-align: right;
    margin-top: 0px;
}